@font-face {
    font-family: 'bitmap';
    src: url(/fontes/Savior1.ttf) format('opentype');
}

/* Tag html para poder definir tamanho da fonte que será usada no Rem */
html {
    font-size: 10px
}

/* Fundo */
.body {
    background-color: #FFEEB7;
    box-sizing: border-box;

}

/* Fim Fundo */

/* classes generalizadas */
.color-beje {
    color: #FFEEB7;
}

.color-rosa {
    color: #E84546;
}

.titulo {
    font-size: 5rem;
}

.titulo-maior {
    font-size: 10rem;
}


.paragrafo {
    font-size: 2rem;

}

/* classes generalizadas */

/* Barra de navegação */
.bg-beje {
    background-color: #FFEEB7;
}


.ilovesthe {
    width: 40rem;

}

.font-navbar {

    font-size: x-large;

}

.text-rosa {
    font-family: 'Roboto', sans-serif;

    color: #E84546 !important;
}

.rosa {
    color: #E84546;
}

.navbar-toggler-icon-rosa {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100%;

}

/*End Barra de navegação */

/* main conteudo principal */

.explicacao-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #e84546;
    width: auto;
    font-family: 'Merriweather', serif;
    align-items: center;
}

.explicacao-texto {

    margin-left: 2%;
    align-content: center;
    margin-right: 2%;
    max-width: 1000px;
}

.explicacao-paragrafo {
    margin-top: 20px;
    text-align: justify;
}



.casal img {
    width: 34vw;
    margin: 50px;
}

/* animação CSS */


.wave-container {
    width: 100%;


}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.wave-1 {
    animation: animateWave-1 10s 0s ease-in-out infinite alternate
}

@keyframes animateWave-1 {
    from {
        transform: scaleX(7.5) translateX(-800px);
    }

    to {
        transform: scaleX(7.5) translateX(0px);
    }
}

.wave-2 {

    animation: animateWave-2 15s 0s ease-in-out infinite alternate;
}

@keyframes animateWave-2 {
    from {
        transform: scaleX(7.5) translateX(-900px);
    }

    to {
        transform: scaleX(10) translateX(0px);
    }
}

.wave-3 {

    animation: animateWave-3 20s 0s ease-in-out infinite alternate;
}

@keyframes animateWave-3 {
    from {
        transform: scaleX(7.5) scaleY(1.2) translateX(-1000px) translateY(-15px);
    }

    to {
        transform: scaleX(7.5) scaley(1.2) translateX(0px) translateY(-15px);
    }
}

/*End  animação CSS */

.nossa-historia-container h1 {
    font-family: 'Dancing Script', cursive;
    margin-right: 0px;
    padding-right: 0px ;
}




/*End main conteudo principal */


/* medias */

@media (max-width: 1600px) {

    html {
        font-size: 10px
    }

    .explicacao-titulo {
        text-align: left;

    }




}

@media (max-width: 1300px) {

    html {
        font-size: 9px
    }

    .font-navbar {
        font-size: large;

    }

    .explicacao-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-align: justify;

    }

    .explicacao-texto {
        margin-top: 2%;
        max-width: 1200px;
    }

    .explicacao-titulo {
        text-align: left;

    }

    .casal {
        display: flex;
        justify-content: center;
    }

    .casal img {
        width: 40vw;
    }

}


@media (max-width: 1000px) {

    html {
        font-size: 10px
    }



    .explicacao-container {
        flex-direction: column;
        justify-content: center;
        text-align: justify;

        text-align: justify;
    }

    .explicacao-titulo {
        text-align: left;

    }

    .casal {
        display: flex;
        justify-content: center;
    }

    .casal {
        transform: translateY(-20px);
    }

    .casal img {

        width: 55vw;
    }

}

@media (max-width: 650px) {
    html {
        font-size: 7.5px;
    }

    .explicacao-texto {
        margin-top: 5%;
    }


    .casal img {
        width: 60vw;
        margin: 5px;
    }



}

@media (max-width: 400px) {
    html {
        font-size: 7px;
    }

    .ilovesthe {
        width: 30rem;
    }

    .explicacao-texto {
        margin-top: 5%;
    }

}

.casal img {
    margin: 0px;
}

@media (max-width: 400px) {
    html {
        font-size: 7.5px;
    }



    .explicacao-texto {
        margin-top: 5%;
    }

}

.casal img {
    margin: 0px;
}






/* ini: Preloader */

.coracao-preloader {
    width: 5vw;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFEEB7;
    /* cor do background que vai ocupar o body */
    z-index: 999;
    /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 50%;
    /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.bolas>div {
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.bolas>div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.bolas>div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* end: Preloader */